In [144]:
!pip install selenium
!pip install webdriver_manager

WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/carlosperezricardo/opt/anaconda3/include/python3.8/UNKNOWN
sysconfig: /Users/carlosperezricardo/opt/anaconda3/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Requirement already satisfied: selenium in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (from selenium) (1.25.11)
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/carlosperezricardo/opt/anaconda3/include/python3.8/UNKNOWN
sysconfig: /Users/carlosperezricardo/opt/anaconda3/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
WARNING: You are using pip version 21.1; however, version 21.2.4 is available.
You should consider upgrading via the '/Users/carlosperezricardo/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/carlosperezricardo/opt/anaconda3/include/python3.8/UNKNOWN
sysconfig: /Users/carlosperezricardo/opt/anaconda3/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
Requirement already satisfied: webdriver_manager in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (3.4.2)
Requirement already satisfied: crayons in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (from webdriver_manager) (0.4.0)
Requirement already satisfied: requests in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (from webdriver_manager) (2.24.0)
Requirement already satisfied: configparser in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (from webdriver_manager) (5.0.2)
Requirement already satisfied: colorama in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (from crayons->webdriver_manager) (0.4.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (from requests->webdriver_manager) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (from requests->webdriver_manager) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (from requests->webdriver_manager) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/carlosperezricardo/opt/anaconda3/lib/python3.8/site-packages (from requests->webdriver_manager) (2.10)
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: /Users/carlosperezricardo/opt/anaconda3/include/python3.8/UNKNOWN
sysconfig: /Users/carlosperezricardo/opt/anaconda3/include/python3.8
WARNING: Additional context:
user = False
home = None
root = None
prefix = None
WARNING: You are using pip version 21.1; however, version 21.2.4 is available.
You should consider upgrading via the '/Users/carlosperezricardo/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [179]:
from  selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time
import os
from os.path  import basename
import requests
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys

import re

In [192]:
main_link = 'https://www.tripadvisor.es'

In [193]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [/Users/carlosperezricardo/.wdm/drivers/chromedriver/mac64/92.0.4515.107/chromedriver] found in cache

In [194]:
driver.get("https://www.tripadvisor.es/Attraction_Review-g187147-d13986330-Reviews-Atelier_des_Lumieres-Paris_Ile_de_France.html#REVIEWS")
time.sleep(4)

In [195]:
# Cookies
try: 
    driver.find_element_by_id("_evidon-accept-button").click()
except:
    pass

In [196]:
# Language
driver.find_element_by_class_name("_2jN6riV4").click()

In [197]:
# Languages
content = driver.page_source
soup = BeautifulSoup(content)

In [198]:
lang_links = soup.findAll(class_="_2U59ljCM")

In [199]:
languages = {}
for link in lang_links:
    #print(link.text)
    #print(link)
    #print(link.attrs['id'])
    languages[link.text] = link.attrs['id']
languages

{'Chino (simplificado)': 'menu-item-zhCN',
 'Noruego': 'menu-item-no',
 'Alemán': 'menu-item-de',
 'Sueco': 'menu-item-sv',
 'Ruso': 'menu-item-ru',
 'Portugués (Portugal)': 'menu-item-pt',
 'Coreano': 'menu-item-ko',
 'Griego': 'menu-item-el',
 'Chino (Taiwán)': 'menu-item-zhTW',
 'Inglés': 'menu-item-en',
 'Italiano': 'menu-item-it',
 'Francés': 'menu-item-fr',
 'Húngaro': 'menu-item-hu',
 'Hebreo': 'menu-item-iw',
 'Español (España)': 'menu-item-es',
 'Checo': 'menu-item-cs',
 'Japonés': 'menu-item-ja',
 'Eslovaco': 'menu-item-sk',
 'Polaco': 'menu-item-pl',
 'Danés': 'menu-item-da',
 'Holandés': 'menu-item-nl'}

In [200]:
# Select a language
driver.find_element_by_id( languages['Español (España)'] ).click()

In [201]:
# We get whole reviews.
content = driver.page_source
soup = BeautifulSoup(content)

In [203]:
users = pd.DataFrame( columns=['user','city','contributions'])

names = soup.findAll(class_="_2nBYkPk3")
for name in names:
    #print(name)
    user_name = name.find(class_='_1SRa-qNz').text
    city_name = name.find(class_='_26S7gyB4').text
    
    try:
        contributions_text = name.find(class_='OeP51cp2').text
        contributions = [float(s) for s in re.findall(r'-?\d+\.?\d*', contributions_text)][0]
        
        city_name = city_name.replace(contributions_text,"")
    except:
        contributions = [float(s) for s in re.findall(r'-?\d+\.?\d*', city_name)][0]
        city_name = ''
        
    users = users.append( {'user':user_name, 'city':city_name, 'contributions':contributions}, ignore_index=True)
    #print(user_name)
    #print(city_name)
    #print(contributions)

users

          user                           city  contributions
0    Natàlia Q  Sant Cugat del Vallès, España        155.000
1        L&L75                 París, Francia         87.000
2   erica vera                                         3.000
3  Ana Maria V                                         1.000
4  Florencia P            La Plata, Argentina         20.000
5    Gabriel l            Montevideo, Uruguay          1.229
6   Tris Mabel       Ciudad de México, México        120.000
7       errthu              Lanzarote, España         13.000
8    ctaracena     San Jose Pinula, Guatemala        112.000
9       eap990                   León, España         27.000

In [204]:
href_class = soup.find(class_="_3djM0GaD")
href = href_class.find('a')['href']
href

'/Attraction_Review-g187147-d13986330-Reviews-or10-Atelier_des_Lumieres-Paris_Ile_de_France.html'

In [205]:
# Go to Next Page
driver.get(main_link+href)
time.sleep(4)

In [206]:
# Do the same 
# We get whole reviews.
content = driver.page_source
soup = BeautifulSoup(content)

names = soup.findAll(class_="_2nBYkPk3")
for name in names:
    #print(name)
    user_name = name.find(class_='_1SRa-qNz').text
    city_name = name.find(class_='_26S7gyB4').text
    
    try:
        contributions_text = name.find(class_='OeP51cp2').text
        contributions = [float(s) for s in re.findall(r'-?\d+\.?\d*', contributions_text)][0]
        
        city_name = city_name.replace(contributions_text,"")
    except:
        contributions = [float(s) for s in re.findall(r'-?\d+\.?\d*', city_name)][0]
        city_name = ''
        
    users = users.append( {'user':user_name, 'city':city_name, 'contributions':contributions}, ignore_index=True)
    #print(user_name)
    #print(city_name)
    #print(contributions)

users

                    user                           city  contributions
0              Natàlia Q  Sant Cugat del Vallès, España        155.000
1                  L&L75                 París, Francia         87.000
2             erica vera                                         3.000
3            Ana Maria V                                         1.000
4            Florencia P            La Plata, Argentina         20.000
5              Gabriel l            Montevideo, Uruguay          1.229
6             Tris Mabel       Ciudad de México, México        120.000
7                 errthu              Lanzarote, España         13.000
8              ctaracena     San Jose Pinula, Guatemala        112.000
9                 eap990                   León, España         27.000
10          pedro jose c               Bogotá, Colombia         94.000
11            marcela256                                       574.000
12        MarisaTortugas        Buenos Aires, Argentina        168.000
13                Marian        Buenos Aires, Argentina          2.000
14              aandrade            Guadalajara, México        734.000
15             Flandes18            Guadalajara, México         77.000
16  Sieresobesoapechugas                 Madrid, España          1.045
17              GonzaloS                   Buenos Aires        211.000
18              bako1973        Buenos Aires, Argentina         59.000
19            Carolina G                                        11.000